h1 { 
  font-size: 48px; font-weight: 700; color: #3e3c3c; padding: 5px 10px; 
}
.hero-title {
   font-size: 48px; font-weight: 700; line-height: 1.2; 
  }
.hero-title span { 
  color: #347dff; text-decoration: underline; 
}
.hero-text { 
  color: #555; font-size: 16px; margin: 15px 0 30px 0; 
}
.search-label { 
  font-weight: 600; margin-bottom: 5px; color: #444; 
}
.testmonal-btn {
   margin: 80px 44%; display: block; 
  }
.people-review {
   text-align: center; 
  }

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .hero-title { font-size: 2.2rem; }
  .hero-text { font-size: 1.1rem; }
}

@media (min-width: 768px) {
  .hero-title { font-size: 2.5rem; }
  .hero-text { font-size: 1.2rem; }
  .review-card { flex-direction: row; max-width: 800px; }
  header .logo-footer { text-align: left; }
  header .app-download { text-align: left; align-items: flex-start; }
}

@media (min-width: 992px) {
  .hero-title { font-size: 3rem; }
  .hero-text { font-size: 1.25rem; }
  .car-card { margin-bottom: 30px; }
}
